extends ./template

block append variables
  -var article1 = ['Hawker Siddeley Hawk, Великобритания', 'Hawker Siddeley Hawk – британский реактивный дозвуковой учебно-тренировочный самолёт и лёгкий штурмовик. Состоит на вооружении Королевских ВВС Великобритании в качестве учебно-тренировочного самолёта с ноября 1976 года. Учебно-тренировочные, учебно-боевые и боевые модификации активно экспортируются. Одна из экспортных модификаций по лицензии производится в Индии. Кроме того, в сотрудничестве с американской компанией McDonnell Douglas Corporation разработана палубная учебно-тренировочная версия самолёта — T-45 Goshawk, принятый на вооружение авиации ВМФ США.', 'В 1964 году штаб британских ВВС подготовил требования к новому учебно-тренировочному самолету (Air Staff Target 362), который должен был заменить состоявшие на вооружении Hawker Siddeley Gnat. Однако было найдено лишь временное решение проблемы в виде двухместной модификации сверхзвукового SEPECAT Jaguar, и только в 1968 году компания “Hawker Siddeley” приступила к проектированию перспективного учебно-тренировочного самолета, имевшего дозвуковую скорость полета и получившего рабочее обозначение Р.1182 (затем HS.1182). Окончательно тактико-технические требования к перспективному самолету были утверждены в январе 1970 года (спецификация AST 397), причем уже предусматривалось, что он будет использоваться не только для подготовки летчиков, но и в качестве легкого штурмовика.']
  -var article2 = ['Boeing B-52 "Stratofortress", США', 'Boeing B-52 Stratofortress – американский многофункциональный тяжёлый сверхдальний межконтинентальный стратегический бомбардировщик-ракетоносец второго поколения фирмы Боинг, стоящий на вооружении ВВС США с 1955 года. Производство самолетов В-52 “Стратофортресс” началось в конце 40-ых, когда командование ВВС США увидело необходимость создания реактивного бомбардировщика, способного нести ядерные и обычные бомбы на расстояние превышающее 7 тысяч километров. Первый испытательный полет В-52 состоялся в 1952 г. В 1954 г. Бомбардировщик был принят на вооружение бригады стратегической авиации США. За исключением нескольких самолетов В-52, используемых в учебных целях, все 744 Летающие крепости были построены компанией Боинг между 1951 и 1963 гг. и так же состояли на вооружении бригады стратегической авиации США.', 'Сегодня бывший стратегический бомбардировщик, летавший на больших высотах, осуществляет самые невероятные операции. Электронно-оптические системы наблюдения вместе с усовершенствованной радарной системой контроля высоты позволяют выполнять задания на низкой высоте практически при любых погодных условиях. Благодаря высокой дальности полета В-52 может совершать пуски ракет находясь во многих тысячах километров от своей базы. Две модификации В-52А и В-52F бомбардировщика имели удлиненный хвост, а самолеты типа B-52G и B-52H – укороченный. Модель B-52H оснащена 8 турбовентиляторными двигателями вместо турбореактивных двигателей, как у предыдущих модификаций. Турбовентиляторные двигатели B-52H тягой 50000 кгс значительно мощнее турбореактивных двигателей (36000 кгс), установленных на самолетах В-52А – В-52G.']
  -var article3 = ['Су-34 "Fullback", Россия', 'Су-34 – советский и российский многофункциональный фронтовой сверхзвуковой истребитель-бомбардировщик, предназначенный для нанесения ударов авиационными средствами поражения по целям противника. Первый серийный самолет СУ-34 поднялся в воздух в 1993 г. Самолеты этого типа должны заменить в российских ВВС и ВМФ фронтовые бомбардировщики СУ-24, выпускавшиеся в 1971-1993 гг. Экспортная модификация имеет наименование СУ-32ГО. СУ-34 выполнен по схеме “триплан” с цельноповоротным передним горизонтальным оперением.', 'Самолет имеет увеличенную емкость внутренних топливных баков, обеспечивающую, без применения ПТБ, практическую дальность полета 4000 км (вдвое больше, чем у СУ-24 или F-15Е). С тремя дозаправками СУ-34 способен преодолеть расстояние 14 тыс. км, что соизмеримо с дальностью самолетов стратегической авиации. К одной из важных особенностей нового самолета относится бортовая электроника, обеспечивающая экипаж полной информацией о параметрах полета и окружающем пространстве, состояниях бортовых систем и силовой установки, целях в воздухе на земле, на поверхности воды и под водой, о средствах радиолокационного обнаружения и РЭБ противника, о ЗРК и степени создаваемой ими угрозы. В кабине установлены цветные жидкокристаллические экранные индикаторы с высокой степенью контрастности. В память системы искусственной безопасности введена информация об авариях и катастрофах и оптимальных решениях по выходу из сложных полетных ситуаций. При этом учитываются истинные координаты самолета, скорость и направление воздушных потоков. остаток топлива и т.п.']
  -var articleContent = {'HSH_UK':article1, 'B52STF_USA':article2, 'SU34_RU':article3}
  -var title = "ВВС и гражданская авиация"
  -var activeElem = "Основное"
  -var galleryContent = {"A-10 Thunderbolt II(Страница не существует)":"A10TB_USA", "Airbus A400M Atlas (Страница не существует)":"A400M_UKEU" , "F-35 Lightning II (Страница не существует)":"F35A_USA" , "Eurofighter Typhoon (Страница не существует)":"RAF_GER" , "Ту-22М3":"TU22M3_RU"}

block append functional
  mixin createGallery(content)
    div.gallery
      each image, name in content
        if name == "Ту-22М3"
          a(href="./article.html" title=name)
             img.gallery__item( src=require("./images/" + image + ".jpg"))
        else
          a(href="#" title=name)
             img.gallery__item(src=require("./images/" + image + ".jpg"))
  
  mixin createArticle(header, image, text1, text2, ext, float)
    div.main__article
      img.main__image(class="main__image_" + float src=require("./images/" + image + ext))
      
      div.main__topic
        h3.main__header=header
          
        p.main__text=text1
        
        p.main__text=text2
          a.main__link(href="#" title=header) &hellip;

block content
  +createGallery(galleryContent)

  div.main
    each value, key in articleContent
      if ['B52STF_USA'].includes(key)
        +createArticle(value[0], key, value[1], value[2], '.jpg', "right")
      else
        +createArticle(value[0], key, value[1], value[2], '.jpg', "left")